## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
!pip install gmaps

Requirement already satisfied: gmaps in c:\users\brent\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\brent\anaconda3\lib\site-packages (from gmaps) (7.6.5)
Requirement already satisfied: six in c:\users\brent\anaconda3\lib\site-packages (from gmaps) (1.16.0)
Requirement already satisfied: geojson>=2.0.0 in c:\users\brent\anaconda3\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\brent\anaconda3\lib\site-packages (from gmaps) (5.1.0)
Requirement already satisfied: ipython>=5.3.0 in c:\users\brent\anaconda3\lib\site-packages (from gmaps) (7.29.0)
Requirement already satisfied: jedi>=0.16 in c:\users\brent\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.18.0)
Requirement already satisfied: pickleshare in c:\users\brent\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: colorama in c:\users\brent\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\brent\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.20)
Requirement already satisfied: matplotlib-inline in c:\users\brent\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.1.2)
Requirement already satisfied: decorator in c:\users\brent\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (5.1.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\brent\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (58.0.4)
Requirement already satisfied: backcall in c:\users\brent\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: pygments in c:\users\brent\anaconda3\lib\site-packages (from ipython>=5.3.0->gmaps) (2.10.0)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\brent\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (6.4.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\brent\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (1.0.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\brent\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\brent\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\brent\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.3)
Requirement already satisfied: tornado<7.0,>=4.2 in c:\users\brent\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\users\brent\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (1.4.1)
Requirement already satisfied: jupyter-client<8.0 in c:\users\brent\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.12)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\brent\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->gmaps) (0.8.2)
Requirement already satisfied: pyzmq>=13 in c:\users\brent\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (22.2.1)
Requirement already satisfied: jupyter-core>=4.6.0 in c:\users\brent\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (4.8.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\brent\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\brent\anaconda3\lib\site-packages (from jupyter-core>=4.6.0->jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (228)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\brent\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\brent\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (21.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\brent\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.18.0)
Requirement already satisfied: wcwidth in c:\users\brent\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\brent\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.4.5)
Requirement already satisfied: prometheus-client in c:\users\brent\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.11.0)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\brent\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.8.0)
Requirement already satisfied: argon2-cffi in c:\users\brent\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.1.0)
Requirement already satisfied: nbconvert in c:\users\brent\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.1.0)
Requirement already satisfied: jinja2 in c:\users\brent\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.3)
Requirement already satisfied: terminado>=0.8.3 in c:\users\brent\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.9.4)
Requirement already satisfied: pywinpty>=0.5 in c:\users\brent\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.7)
Requirement already satisfied: cffi>=1.0.0 in c:\users\brent\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.14.6)
Requirement already satisfied: pycparser in c:\users\brent\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.20)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\brent\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: bleach in c:\users\brent\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (4.0.0)
Requirement already satisfied: defusedxml in c:\users\brent\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\brent\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\brent\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.3)
Requirement already satisfied: testpath in c:\users\brent\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\brent\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.3)
Requirement already satisfied: jupyterlab-pygments in c:\users\brent\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\brent\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: nest-asyncio in c:\users\brent\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.1)
Requirement already satisfied: async-generator in c:\users\brent\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.10)
Requirement already satisfied: webencodings in c:\users\brent\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: packaging in c:\users\brent\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (21.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\brent\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.0.4)

In [3]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [4]:
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Victor Harbor,-35.5667,138.6167,59.94,93,0,4.63,AU,2022-04-07 14:25:59
1,1,Las Varas,21.1667,-105.1667,62.08,68,27,2.17,MX,2022-04-07 14:25:59
2,2,Ranong,9.9658,98.6348,80.04,82,98,2.91,TH,2022-04-07 14:25:59
3,3,Mahebourg,-20.4081,57.7000,79.25,83,40,9.22,MU,2022-04-07 14:26:00
4,4,Vardo,70.3705,31.1107,33.78,93,75,20.71,NO,2022-04-07 14:26:00

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minumum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minumum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 93

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Ranong,9.9658,98.6348,80.04,82,98,2.91,TH,2022-04-07 14:25:59
3,3,Mahebourg,-20.4081,57.7000,79.25,83,40,9.22,MU,2022-04-07 14:26:00
6,6,Atuona,-9.8000,-139.0333,78.55,78,14,16.26,PF,2022-04-07 14:26:00
8,8,Butaritari,3.0707,172.7902,80.85,81,99,16.26,KI,2022-04-07 14:26:01
12,12,Hithadhoo,-0.6000,73.0833,83.05,62,7,2.26,MV,2022-04-07 14:26:02
15,15,Rikitea,-23.1203,-134.9692,78.69,66,3,14.52,PF,2022-04-07 14:22:04
18,18,Canutama,-6.5339,-64.3831,82.76,76,100,3.18,BR,2022-04-07 14:26:03
32,32,Kavaratti,10.5669,72.6420,83.80,72,97,9.01,IN,2022-04-07 14:25:52
46,46,Vaini,-21.2000,-175.2000,77.16,100,75,3.44,TO,2022-04-07 14:27:11
52,52,Calafell,41.2000,1.5683,78.08,67,7,10.00,ES,2022-04-07 14:27:13

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       6
Date          0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_2_df = preferred_cities_df.dropna()
preferred_cities_2_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Ranong,9.9658,98.6348,80.04,82,98,2.91,TH,2022-04-07 14:25:59
3,3,Mahebourg,-20.4081,57.7000,79.25,83,40,9.22,MU,2022-04-07 14:26:00
6,6,Atuona,-9.8000,-139.0333,78.55,78,14,16.26,PF,2022-04-07 14:26:00
8,8,Butaritari,3.0707,172.7902,80.85,81,99,16.26,KI,2022-04-07 14:26:01
12,12,Hithadhoo,-0.6000,73.0833,83.05,62,7,2.26,MV,2022-04-07 14:26:02
...,...,...,...,...,...,...,...,...,...,...
692,692,Ghanzi,-21.5667,21.7833,86.34,22,29,6.69,BW,2022-04-07 14:43:13
693,693,Mafinga,-7.2500,35.0667,80.69,52,32,4.16,TZ,2022-04-07 14:43:13
695,695,Impfondo,1.6381,18.0667,91.00,44,85,2.95,CG,2022-04-07 14:43:14
696,696,Kirakira,-10.4544,161.9205,80.58,83,100,7.78,SB,2022-04-07 14:44:14
698,698,Sao Jose Da Coroa Grande,-8.8978,-35.1478,83.30,69,52,8.10,BR,2022-04-07 14:44:15

In [10]:
preferred_cities_2_df.count()

City_ID       228
City          228
Lat           228
Lng           228
Max Temp      228
Humidity      228
Cloudiness    228
Wind Speed    228
Country       228
Date          228
dtype: int64

In [11]:
preferred_cities_2_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Ranong,9.9658,98.6348,80.04,82,98,2.91,TH,2022-04-07 14:25:59
3,3,Mahebourg,-20.4081,57.7000,79.25,83,40,9.22,MU,2022-04-07 14:26:00
6,6,Atuona,-9.8000,-139.0333,78.55,78,14,16.26,PF,2022-04-07 14:26:00
8,8,Butaritari,3.0707,172.7902,80.85,81,99,16.26,KI,2022-04-07 14:26:01
12,12,Hithadhoo,-0.6000,73.0833,83.05,62,7,2.26,MV,2022-04-07 14:26:02

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_2_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2       Ranong      TH     80.04   9.9658   98.6348
3    Mahebourg      MU     79.25 -20.4081   57.7000
6       Atuona      PF     78.55  -9.8000 -139.0333
8   Butaritari      KI     80.85   3.0707  172.7902
12   Hithadhoo      MV     83.05  -0.6000   73.0833
15     Rikitea      PF     78.69 -23.1203 -134.9692
18    Canutama      BR     82.76  -6.5339  -64.3831
32   Kavaratti      IN     83.80  10.5669   72.6420
46       Vaini      TO     77.16 -21.2000 -175.2000
52    Calafell      ES     78.08  41.2000    1.5683

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        #hotel_df = hotel_df.append["Hotel Name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
#hotel_df = hotel_df.dropna()
#hotel_df.isnull()
hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
hotel_df.count()

City          213
Country       213
Max Temp      213
Lat           213
Lng           213
Hotel Name    213
dtype: int64

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))