In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one to a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Victor Harbor,-35.5667,138.6167,59.94,93,0,4.63,AU,2022-04-07 14:25:59
1,1,Las Varas,21.1667,-105.1667,62.08,68,27,2.17,MX,2022-04-07 14:25:59
2,2,Ranong,9.9658,98.6348,80.04,82,98,2.91,TH,2022-04-07 14:25:59
3,3,Mahebourg,-20.4081,57.7000,79.25,83,40,9.22,MU,2022-04-07 14:26:00
4,4,Vardo,70.3705,31.1107,33.78,93,75,20.71,NO,2022-04-07 14:26:00

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind speeds
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minumum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minumum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?85

In [11]:

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >=min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Ranong,9.9658,98.6348,80.04,82,98,2.91,TH,2022-04-07 14:25:59
3,3,Mahebourg,-20.4081,57.7000,79.25,83,40,9.22,MU,2022-04-07 14:26:00
6,6,Atuona,-9.8000,-139.0333,78.55,78,14,16.26,PF,2022-04-07 14:26:00
8,8,Butaritari,3.0707,172.7902,80.85,81,99,16.26,KI,2022-04-07 14:26:01
12,12,Hithadhoo,-0.6000,73.0833,83.05,62,7,2.26,MV,2022-04-07 14:26:02
15,15,Rikitea,-23.1203,-134.9692,78.69,66,3,14.52,PF,2022-04-07 14:22:04
18,18,Canutama,-6.5339,-64.3831,82.76,76,100,3.18,BR,2022-04-07 14:26:03
20,20,Sao Filipe,14.8961,-24.4956,72.88,75,2,11.97,CV,2022-04-07 14:26:04
21,21,Kapaa,22.0752,-159.3190,72.12,85,20,16.11,US,2022-04-07 14:23:12
28,28,Havelock,34.8791,-76.9013,70.02,92,20,13.80,US,2022-04-07 14:25:12

In [12]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       5
Date          0
dtype: int64

In [13]:
preferred_cities_df.count()

City_ID       236
City          236
Lat           236
Lng           236
Max Temp      236
Humidity      236
Cloudiness    236
Wind Speed    236
Country       231
Date          236
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country      Lat       Lng Hotel Name
2       Ranong      TH   9.9658   98.6348
3    Mahebourg      MU -20.4081   57.7000
6       Atuona      PF  -9.8000 -139.0333
8   Butaritari      KI   3.0707  172.7902
12   Hithadhoo      MV  -0.6000   73.0833
15     Rikitea      PF -23.1203 -134.9692
18    Canutama      BR  -6.5339  -64.3831
20  Sao Filipe      CV  14.8961  -24.4956
21       Kapaa      US  22.0752 -159.3190
28    Havelock      US  34.8791  -76.9013

In [15]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the dataframe
for index, row in hotel_df.iterrows():
    #get the rows
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # MAke request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

KeyError: 'Max Temp'

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig